.home-image{
    width: 80%;
    height: 85%;
}
.login-form{
    border: 1px solid #000000a3;
    border-radius: 9%;
    width: 67%;
    margin-left: 25%;
}
.login-form>h3{
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #80808087;
    padding-top: 4%;
    padding-bottom: 2%;
}
.form-field{
    padding-left: 7%;
    width: 100%;
    padding-right: 7%;
    font-weight: bold;
}
.forgot-Password{
    text-align: right;
    font-size: 14px;
    padding-right: 10%;
}
.submit-Button{
    width: 30%;
    margin: 2% 10% 5% 10%;
    font-weight: bold;
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    margin-bottom: 9%;
}
.submit-Button:disabled,
.submit-Button[disabled]{
    width: 30%;
    margin: 2% 10% 5% 10%;
    font-weight: bold;
    background: #aaa;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    margin-bottom: 9%;
}
.reset-Button{
    width: 30%;
    margin: 2% 10% 5% 10%;
    font-weight: bold;
    background: #1d1d1afc;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}
.login{
    padding: 5%;
    border-top: 0;
}
