<html>

<head>

</head>

<body>
    <footer class="footer">
        <div class="row">
            <div class="col-sm-4 footer-para">
                <img src="./assets/img/footerlogo.png">
                <br><br>
                <p>Whether it’s transforming your business, building
                    <br> an all-star team or finding the right fit for your
                    <br> professional ambitions, we’re in it with you. Let’s
                    <br> innovate and reinvent. Let’s own change, together.</p>
                <br>
                
                <p style="word-spacing: 1px;line-height: 1;font-size: 11px;">Please note, the information provided on this website may contain
                    <br> that may not reflect our Asia-Pacific or European markets. Please
                    <br> your local TEKsystems office with any questions or for additional
                    <br> information.</p>
            </div>
            <div class="col-sm-2">
                <ul class="footer-List">
                    <h2>Further Reading</h2>
                    <br>
                    <li>
                        <a href="#">Articles</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Press</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="footer-List">
                    <h2>More Information</h2>
                    <br>
                    <li>
                        <a href="#">Locations</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Talent Services</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Internal Careers</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="footer-List">
                    <h2></h2>
                    <br>
                    <br>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Site Map</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2" style="padding: 0">
                <ul class="footer-List" style="padding-right: 0">
                    <h2>Policies</h2>
                    <br>
                    <li>
                        <a href="#">Cookie Notification</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Privacy Notices
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Mandatory Notices
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Terms and Conditions
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Code of Conduct
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </li>
                    <br><br>
                </ul>
            </div>
        </div>
        <div class="row footer-Last-Row">
            <div class="col-sm-4">
                &nbsp;&nbsp;
                <i class="fa fa-linkedin social-Media-logo" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-facebook social-Media-logo" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-youtube-play social-Media-logo" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-twitter social-Media-logo" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-instagram social-Media-logo" aria-hidden="true"></i>
            </div>
            <div class="col-sm-8 footer-text">
                <p>© 2020 TEKsystems, Inc. ALL RIGHTS RESERVED.</p>
                <p>© 2020 TEKsystems Global Services, LLC ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </footer>
</body>

</html>