<div class="container">
    <div class="text-center panel panel-default col-md-4 col-md-offset-4" style="padding: 0;margin: auto;margin-top: 110px;">
        <mat-toolbar>
            <span style="margin: auto;">Reset Password</span>
        </mat-toolbar>
        <br>
        <br>
        <form [formGroup]="resetPassword" (ngSubmit)="OnSubmit(resetPassword)" class="form">
            <mat-form-field class="form-element">
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-error>{{passwordMessage}}</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="form-element">
                <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
                <mat-error>{{confirmPasswordMessage}}</mat-error>
            </mat-form-field>
            <br>
            <br>
            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="btn btn-primary" [disabled]="!resetPassword.valid" (click)="OnSubmit(resetPassword)">Submit</button>
            </div>
            <br>
        </form>
    </div>
</div>